@page
@model IndexModel

<div class="container">
    <form asp-action="post" enctype="multipart/form-data">
        <div class="row p-1" id="userDiv">
            <div class="col-1">User</div>
            <div class="col-5"><input type="text" asp-for="Username"/></div>
        </div>
        <div class="row p-1" id="connectDiv">
            <div class="col-6 text-end">
                <input type="submit" id="connectButton" value="Connect with Username" />
            </div>
        </div>
    </form>
</div>